@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Space+Grotesk:wght@300..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

body {
    background: #5145BA;
    min-height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 4rem; 
}


:where(.config-container, .quiz-container, .result-container) {
    /* display: none; */
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.13); 
}
.config-container {
    width: 415px;
    padding: 25px;
    text-align: center;
}

.quiz-container{
    display: none;
}


.config-container .config-title {
    font-size: 1.31rem;
}


.config-container .config-option {
    margin-top: 25px;
}

.config-option .option-title {
    font-size: 1.125rem;
    font-weight: 500;
    margin-bottom: 20px;
}

.config-option .questions-options {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    padding: 0 30px;
    justify-content: center;
}

.config-option button {
    padding: 12px;
    font-size: 0.938rem;
    font-weight: 500;
    background: #fff;
    border-radius: 6px;
    cursor: pointer;
    border: 1px solid #9B8FFF;
    transition: 0.3s ease;

}

.config-option button.active {
    color: #5145BA;
    border-color: #5145BA;
    background: #dad5fd;
}

.config-option button:active{
    transform: scale(0.96);
}

.config-option button:hover, 
.quiz-content .answer-option:hover {
    background: #dad5fd;
}

.questions-options button {
    flex: 1 1 5%;
}

.config-container .start-quiz-btn,
.quiz-footer .next-question-btn,
.result-container .try-again-btn {
    color: #fff;
    border: none;
    cursor: pointer;
    font-weight: 500;
    background: #5145BA;
    padding: 13px 25px;
    font-size: 1rem;
    border-radius: 6px;
    transition: background 0.3s ease;
}


.config-container .start-quiz-btn:hover,
.quiz-footer .next-question-btn:hover,
.result-container .try-again-btn:hover {
    background: #403795;
}

.start-wrapper{
    position: relative;
    display: inline-block;
    margin-top: 30px;
}

.tooltip {
  position: absolute;
  top: 110%; 
  left: 50%;
  transform: translateX(-50%);
  background-color: #f44336; 
  color: white;
  padding: 6px 10px;
  display: none;
  border-radius: 4px;
  font-size: 13px;
  white-space: nowrap;
  z-index: 100;
  box-shadow: 0px 2px 8px rgba(0,0,0,0.2);
  animation: fadeInOut 2s forwards;
}

@keyframes fadeInOut {
  0% { opacity: 0; }
  10% { opacity: 1; }
  90% { opacity: 1; }
  100% { opacity: 0; }
}

.click-blocker {
    position: absolute;
    top: 0; 
    left: 0;
    width: 100%;
    height: 100%;
    cursor: not-allowed;
    z-index: 2;
    background-color: transparent;
    display: block;
}

.quiz-container {
    width: 480px;
}

.quiz-container .quiz-header {
    display: flex;
    align-items: center;
    padding: 14px 25px;
    justify-content: space-between;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.09);
}

.quiz-content .question-text {
    font-size: 1.5rem;
    font-weight: 600;
}

.quiz-container .quiz-content {
    padding: 20px 25px 25px;
}

.quiz-content .question-text {
    font-size: 1.5rem;
    font-weight: 600;
}

.quiz-content .answer-options {
    display: flex;
    gap: 15px;
    flex-direction: column;
    list-style: none;
    margin-top: 20px;
}

.quiz-content .answer-option {
    display: flex;
    align-items: center;
    padding: 13px 16px;
    background: #f3f1ff;
    border-radius: 6px;
    font-weight: 500;
    cursor: pointer;
    justify-content: space-between;
    border: 1px solid #B5ACFF;
    transition: 0.3s ease;
}

.answer-option i {
    flex-shrink: 0;
    margin: -4px -3px -4px 12px;
    font-size: 22px;
}


.quiz-content .answer-option.correct{
    border-color: #B7E1C1;
    background-color: #D4EDDA;
    color: #155724;
}


.quiz-content .answer-option.incorrect{
    border-color: #F4BEC3;
    background-color: #F8D7DA;
    color: #721C24;
}

.quiz-container .quiz-footer {
    padding: 15px 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid #c6c6c6;
}

.quiz-footer .question-status {
    font-weight: 500;
}

.quiz-footer .question-status b, 
.result-container .result-message b {
    font-weight: 600;
}

.quiz-footer .next-question-btn {
    display: inline-flex;
    gap: 10px;
    align-items: center;
    padding: 9px 17px;
}


.nextBtn-wrapper {
    position: relative;
}

.next-tooltip {
    position: absolute;
    top: 110%; 
    left: 35%;
    transform: translateX(-50%);
    background-color: #f44336; 
    color: white;
    padding: 6px 10px;
    display: none;
    border-radius: 4px;
    font-size: 13px;
    white-space: nowrap;
    z-index: 100;
    box-shadow: 0px 2px 8px rgba(0,0,0,0.2);
    animation: fadeInOut 2s forwards;
}



.next-click-blocker {
    position: absolute;
    top: 0; 
    left: 0;
    width: 100%;
    height: 100%;
    cursor: not-allowed;
    z-index: 2;
    background-color: transparent;
    display: block;
}

.result-container {
    display: none;
    text-align: center;
    padding: 40px;
    width: 410px;
}

.result-container .result-img {
    width: 110px;
}

.result-container .result-title {
    margin-top: 30px;
}

.result-container .result-message {
    font-size: 1.125rem;
    font-weight: 500;
    margin-top: 15px;
}

.result-container .try-again-btn {
    margin-top: 30px;
    padding: 12px 20px;
}


